<p>
  <img alt="Wanda Collins" src="assets/shesofly.jpg"> 
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ante, viverra sit amet rutrum sed, gravida sit amet mauris. Phasellus ut accumsan purus, non mollis erat. Aliquam non sem orci. Vivamus ac velit mattis, pharetra massa eu, laoreet nulla. Vestibulum venenatis sem in quam consectetur imperdiet. Vivamus sit amet eros vel lectus pharetra lobortis. Pellentesque vulputate leo non odio sodales volutpat. Vivamus iaculis lacus ac urna vulputate, at feugiat urna egestas. Vestibulum elementum dolor purus, et suscipit erat dapibus vel. Maecenas id viverra magna.
</p>

<p>
Praesent mollis quam ac justo scelerisque, eu ultrices eros convallis. Donec nibh leo, venenatis nec libero et, aliquam tempor risus. Phasellus vel elit eget elit accumsan interdum. Vivamus porttitor urna purus, nec tristique ipsum elementum non. Praesent tincidunt iaculis metus, eu sodales dui eleifend id. Sed libero purus, euismod a neque nec, suscipit vulputate quam. Praesent viverra quam nibh, quis condimentum sapien rutrum sagittis. In ultricies faucibus dui, sed sollicitudin magna fermentum sit amet. Nulla facilisi. Phasellus id massa venenatis, egestas velit eget, placerat lacus. Praesent in nulla tortor. Etiam placerat felis a justo vulputate, sit amet euismod purus vestibulum. Sed ullamcorper nibh ut arcu viverra, varius sagittis nisl lobortis. Nam vitae venenatis velit.
</p>
<p>
Maecenas nec efficitur sem. Proin nibh sem, hendrerit sed dapibus in, tristique eget tellus. Nulla quam libero, semper mollis est nec, volutpat accumsan nisi. Curabitur lacinia interdum lobortis. Vestibulum nibh odio, maximus ac pulvinar eu, dapibus in nisi. Nulla nec ultricies diam. Quisque congue hendrerit diam, ac dictum erat dapibus sed. Nam vitae imperdiet nisl, faucibus pellentesque odio.
</p>

<p>
	<a href="" (click)="sendMeHome()"><strong>Return to home</strong></a>
</p>