<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink="">Home</a></li>

  <div class="dropdown">
    <li (mouseenter)="toggleDropdown()" class="dropbtn">Checkrides</li>
    <div id="myDropdown" class="dropdown-content" (click)="toggleDropdown()">
      <a routerLink="book">Book a Checkride</a>
      <a routerLink="form">Pre-Exam Day Form</a>
      <a routerLink="tips">Exam Day: What to expect</a>
    </div>
  </div>


  <li><a routerLink="about">About</a></li>
</ul>

<router-outlet></router-outlet>